**/downloaded
**/evaluation
**/.snakemake/
**/dev_test
**/evaluation_old
**/testing
**/results
**/data/callset/
**/data/callset-and-graph/
**/data/downloaded/
**/data/haplotype-resolved-assemblies/
**/genotyping/reads/
**/genotyping/results/
**/genotyping/results_bad/
**/data/prepared-datasets/
**/ubuntu-docker_testing
**/playbook_denbi
**/external-eval
**/external-eval_old
**/external-eval_dev
**/external-eval_*
**/reduced-data
**/__pycache__
**/results_old
**/logs
**/preprocessing
**/genotyping
