**/downloaded
**/evaluation
**/.snakemake/
**/dev_test
**/evaluation_old
**/testing
**/data/callset/
**/data/callset-and-graph/
**/data/downloaded/
**/data/haplotype-resolved-assemblies/
**/genotyping/reads/
**/genotyping/results/
**/genotyping/results_bad/
**/data/prepared-datasets/
**/ubuntu-docker_testing
**/playbook_denbi
**/playbook_denbi_working
denbi_gg/roles/github-ssh/
denbi_gg/roles/mamba-snakemake/
